.a{
	width: 100px;
	height: 100px;
	display: block;
	background-color: white;
	margin: 10px 10px 10px 10px;

	line-height: 99px;
	text-align: center;
	border: 1px solid;

}

.block-true{
	background-color: red;
}


li{
	list-style: none;
}

.playButton{
	margin: auto;
	margin-top:35px;
	width:100px;
	height:60px;
	display: block;
}