*{padding:0;margin:0;}
li{
	display:block;
	list-style: none;
}
.a{
	width: 100px;
	height: 100px;
	margin: 10px auto;

	line-height: 99px;
	text-align: center;
	border: 1px solid;

}
.a{
	-moz-user-select: none;
    	-webkit-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
}
.block-false{
	background-color: white;
}
	

.block-true{
	background-color: red;
}



.playButton{
	margin: auto;
	margin-top:35px;
	width:100px;
	height:60px;
	display: block;
}
